* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

::selection {
  background-color: yellow;
  color: black;
}



body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	background: hotpink;
	color:yellow;
	font-family: serif;
}

span{
	font-size: 40px;
}

p, li {
	font-size:  20px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	font-size:  28px;
	margin-bottom:  25px;
	text-shadow: 0px 0px 10px white;
}



h3{
	margin-top:  25px;
	font-size: 24px;
	text-shadow: 0px 0px 10px white;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/